.project-request {
  @apply relative w-full;
  margin-bottom: 72px;
  isolation: isolate;
  z-index: 0;
  overflow: hidden;

  &__wrapper {
    @apply relative flex justify-between;
    padding: 48px 72px;
    background: #032817;
    border-radius: 40px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      right: -300px;
      bottom: -195px;
      width: 390px;
      height: 390px;
      border-radius: 50%;
      background: #005e33;
      opacity: 0.9;
      filter: blur(90.46px);
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 0;
    }
    &::after {
      content: "";
      position: absolute;
      top: 130px;
      left: 350px;
      width: 501px;
      height: 501px;
      border-radius: 50%;
      background: #005e33;
      opacity: 0.9;
      filter: blur(90.46px);
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }
  &-img-cloud {
    @apply absolute;
    bottom: 65px;
    left: 72px;
  }
  &--title {
    font-size: 36px;
    font-weight: 700;
    line-height: 135%;
    color: #fff;
    max-width: 469px;
    padding-top: 52px;
  }

  &--form {
    @apply flex flex-col max-w-[483px] w-full;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 28px 36px;
    background: #fff;
    border-radius: 20px;
    &--title {
      font-size: 36px;
      font-weight: 700;
      line-height: 135%;
      color: #01522d;
    }
    label {
      @apply flex flex-col;
      grid-column-gap: 4px;
      grid-row-gap: 4px;
      span {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 400;
        line-height: 175%;
        color: #000;
      }
      input {
        max-width: 411px;
        width: 100%;
        height: 48px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 10px;
        border: 1px solid #01522d30;
        outline: none;
        transition: all 0.3s ease;
        background-color: #fff;
      }

      input:hover {
        border-color: #005e33;
        box-shadow: 0 4px 10px rgba(0, 94, 51, 0.25);
      }

      input:focus {
        border-color: #007f3e;
        box-shadow: 0 0 0 4px rgba(0, 127, 62, 0.2);
      }
    }
  }
}
