.global-presence {
    @apply w-full;
    margin-top: 72px;
    margin-bottom: 72px;
    &__container {
        @apply flex items-center justify-between w-full;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    &--card {
        @apply flex items-start max-w-[370px] w-full;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        svg {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
        }
        p {
            font-family: 'Roboto';
            font-size: 20px;
            font-weight: 400;
            line-height: 167%;
            color: #000000;
            span {
                font-weight: 700;
            }
        }
    }
}