.btn {
  @apply transition-all duration-300 ease-in-out cursor-pointer;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 20px;
  border-radius: 50px;
  z-index: 20;
}
.btn.primary {
  color: #fff;
  background: linear-gradient(90deg, #014f2b 0%, #01522d 100%);
  box-shadow: 0 6px 16px rgba(1, 79, 43, 0.25);

  &:hover {
    background: linear-gradient(90deg, #016b3a 0%, #018044 100%);
    box-shadow: 0 10px 28px rgba(1, 79, 43, 0.35);
  }

  &:active {
    background: linear-gradient(90deg, #015838 0%, #01663d 100%);
    box-shadow: 0 4px 12px rgba(1, 79, 43, 0.3);
  }
}

.btn.white {
  color: #032817;
  background: #edfff7;
  box-shadow: 0 6px 16px rgba(3, 40, 23, 0.12);
  border: 1px solid transparent;
  &:hover {
    color: #fff;
    background: none;
    border: 1px solid linear-gradient(180deg, #f4fffa 0%, #edfff7 100%);
  }
}
