<section class="global-growth-engine">
    <div class="global-growth-engine__container container">
        <div class="scaling-infrastructure">
            <div class="scaling-infrastructure__heading">
                <h2>Your Path to a Global Audience</h2>
                <p>Fintech companies and brokers often face resource limitations. Each country requires a local strategy, unique language, and tailored communication. That’s where we come in.</p>
                <p>We provide the infrastructure to scale your presence across dozens of markets – quickly, natively, and effectively. While you focus on the product, we expand your geography.</p>
            </div>
            @@include('../UI/button/main.html', {
                class: 'primary scaling-btn-desktop',
                text: 'Order Service'
            })
        </div>
        <div class="content-intelligence">
            <div class="content-intelligence--card">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1607 5.83927L8 0L5.83927 5.83927L0 8L5.83927 10.1607L8 16L10.1607 10.1607L16 8L10.1607 5.83927Z" fill="#4B8369"/>
                </svg>
                <p>
                    <span>AI delivers speed, but not meaning.</span> We combine technology with expertise to ensure you get not just content flow, but measurable results.
                </p>
            </div>
            <div class="content-intelligence--card">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1607 5.83927L8 0L5.83927 5.83927L0 8L5.83927 10.1607L8 16L10.1607 10.1607L16 8L10.1607 5.83927Z" fill="#4B8369"/>
                </svg>
                <p>
                    <span>Entry into new markets</span> through content adapted to the culture, language, and mentality of the region.
                </p>
            </div>
            <div class="content-intelligence--card">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1607 5.83927L8 0L5.83927 5.83927L0 8L5.83927 10.1607L8 16L10.1607 10.1607L16 8L10.1607 5.83927Z" fill="#4B8369"/>
                </svg>
                <p>
                    <span>We build recognition and trust</span> even before the first transaction.
                </p>
            </div>
            <div class="content-intelligence--card">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1607 5.83927L8 0L5.83927 5.83927L0 8L5.83927 10.1607L8 16L10.1607 10.1607L16 8L10.1607 5.83927Z" fill="#4B8369"/>
                </svg>
                <p>
                    <span>Entry into new markets</span> through content adapted to the culture, language, and mentality of the region.
                </p>
            </div>
            <div class="content-intelligence--card">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1607 5.83927L8 0L5.83927 5.83927L0 8L5.83927 10.1607L8 16L10.1607 10.1607L16 8L10.1607 5.83927Z" fill="#4B8369"/>
                </svg>
                <p>
                    <span>Entry into new markets</span> through content adapted to the culture, language, and mentality of the region.
                </p>
            </div>
                        @@include('../UI/button/main.html', {
                class: 'primary scaling-btn-mobile',
                text: 'Order Service'
            })
        </div>
    </div>
</section>