.header {
  &__wrapper {
    @apply absolute top-[12px] right-0 left-0;
    z-index: 100;
  }
  &__container {
    @apply flex items-center justify-between rounded-[50px];
    padding: 8px 8px 8px 16px;
    background: #fffffff5;
    box-shadow: 0px 4px 9px 0px #0000000d;
    @media (max-width: 800px) {
      @apply hidden;
    }
  }
  &__nav {
    @apply max-w-[370px] w-full;
    ul {
      @apply flex items-center;
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      li > a {
        @apply relative inline-block transition-all duration-300 ease-in-out;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #000;
        &::before {
          @apply absolute content-[''] bottom-[-4px] right-0 w-0 h-[2px] bg-black transition-all duration-300 ease-in-out;
        }
        &:hover::before {
          @apply w-full left-0;
        }
      }
    }
  }
  &-mobile {
    @apply hidden items-center justify-between;
    padding: 14px 12px;
    @media (max-width: 800px) {
      @apply flex;
    }
  }
  &-mobile-menu {
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-12px);

    transition: opacity 0.3s ease, transform 0.35s ease,
      visibility 0s linear 0.35s;
    &.open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateY(0);

      transition: opacity 0.3s ease, transform 0.35s ease;
    }
    &__container {
      @apply relative;
      padding-top: 32px;
      padding-left: 24px;
      padding-right: 24px;
      &::after {
        content: "";
        position: absolute;
        left: 12px;
        right: 12px;
        top: 0;
        height: 1px;
        background: #daedcf;
      }
    }
    &-nav {
      margin-bottom: 32px;
      ul {
        @apply flex flex-col;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        li > a {
          position: relative;
          font-family: "Roboto";
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: #000;
          &::before {
            @apply absolute content-[''] bottom-[-4px] right-0 w-0 h-[2px] bg-black transition-all duration-300 ease-in-out;
          }
          &:hover::before {
            @apply w-full left-0;
          }
        }
      }
    }
    .btn {
      max-width: 186px;
      width: 100%;
    }
  }
  .btn-mobile {
    @apply flex flex-col cursor-pointer;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    padding: 8px 4px;
    span {
      display: block;
      width: 24px;
      height: 2px;
      background: #000;
      transition: transform 0.3s ease, opacity 0.2s ease;
    }
    &.open {
      span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
