.content-impact {
  @apply w-full;
  margin-bottom: 72px;
  &__wrapper {
    @apply flex justify-between items-center;
    padding: 36px 80px;
    border-radius: 20px;
    background: conic-gradient(
      from 180deg at 50% 0%,
      #032817 0deg,
      #005830 56.67deg,
      #032817 360deg
    );
    box-shadow: 0px 0px 23px 0px #00000014;
    @media (max-width: 560px) {
      padding: 32px 16px;
      .btn {
        display: flex;
        justify-self: center;
      }
    }
  }
  &--img {
    img {
      max-width: 322px;
      width: 100%;
      @media (max-width: 770px) {
        @apply hidden;
      }
    }
  }
  &__provides {
    @apply max-w-[659px] w-full;
    &--title {
      font-size: 36px;
      font-weight: 700;
      line-height: 135%;
      color: #ffffff;
      margin-bottom: 16px;
      @media (max-width: 560px) {
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        margin-bottom: 24px;
      }
    }
    &--list {
      @apply flex flex-col;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      margin-bottom: 20px;
      @media (max-width: 560px) {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-bottom: 12px;
      }
      &--item {
        @apply flex items-center;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        @media (max-width: 560px) {
          @apply flex-col;
        }
        p {
          font-family: "Roboto";
          font-size: 20px;
          font-weight: 400;
          line-height: 167%;
          color: #fff;
          @media (max-width: 560px) {
            text-align: center;
          }
        }
        svg {
          flex-shrink: 0;
        }
      }
    }
  }
}
