.content-impact {
    @apply w-full;
    margin-bottom: 72px;
    &__wrapper {
        @apply flex justify-between items-center;
        padding: 36px 80px;
        border-radius: 20px;
        background: conic-gradient(from 180deg at 50% 0%, #032817 0deg, #005830 56.67deg, #032817 360deg);
        box-shadow: 0px 0px 23px 0px #00000014;
    }
    &--img {
        img {
            max-width: 322px;
            width: 100%;
        }
    }
    &__provides {
        @apply max-w-[659px] w-full;
        &--title {
            font-size: 36px;
            font-weight: 700;
            line-height: 135%;
            color: #ffffff;
            margin-bottom: 16px;
        }
        &--list {
            @apply flex flex-col;
            grid-column-gap: 12px;
            grid-row-gap: 12px;
            margin-bottom: 20px;
            &--item {
                @apply flex items-center;
                grid-column-gap: 12px;
                grid-row-gap: 12px;
                p {
                    font-family: 'Roboto';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 167%;
                    color: #fff;
                }
                svg {
                    flex-shrink: 0;
                }
            }
        }
    }
}