*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: auto;
}

html,
body {
  min-height: 100%;
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  background: $background;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  max-height: 100%;
  height: 100%;
  min-height: initial;
  z-index: 10;
}

h1 {
  margin: 0;
}

.container {
  @apply max-w-[1202px] px-4 mx-auto;
  padding-right: 16px;
  padding-left: 16px;
}