.footer {
    @apply w-full;
    &__container {
        @apply flex items-center justify-between;
        padding-top: 28px;
        padding-bottom: 28px;
        border-top: 1px solid #0000001F;
         @media (max-width: 825px) {
            svg {
                max-width: 188px;
                max-height: 32px;
            }
         }
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 167%;
            color: #000;
            @media (max-width: 560px) {
                font-size: 14px;
            }
        }
    }
}