.market-promotion {
  @apply w-full;
  margin-top: 72px;
  margin-bottom: 30px;
  @media (max-width: 820px) {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  &--title {
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
    color: #006034;
    text-align: center;
    margin-bottom: 32px;
    @media (max-width: 560px) {
      font-size: 32px;
      line-height: 120%;
      margin-bottom: 20px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    @media (max-width: 570px) {
      display: flex;
      flex-direction: column;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
  &--card {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;

    width: 100%;
    height: 242px;

    background: #fff;
    box-shadow: 0 0 23px #00000014;
    border-radius: 20px;
    padding: 20px;
    @media (max-width: 560px) {
      padding: 16px;
      height: auto;
    }
    &__heading {
      @apply flex items-center;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      margin-left: 12px;
      @media (max-width: 560px) {
        @apply flex-col items-start;
        padding-left: 12px;
      }
      &--icon {
        @apply flex justify-center items-center rounded-[50px];
        width: 40px;
        height: 40px;
        background: #498067;
        box-shadow: 0px 5px 10px 0px #0000001a;
      }
      h5 {
        font-family: "Roboto";
        font-size: 22px;
        font-weight: 600;
        line-height: 125%;
        color: #000000;
      }
    }
    &--list {
      @apply flex flex-col;

      &--item {
        position: relative;
        padding-left: 24px;
        font-size: 18px;
        font-weight: 400;
        line-height: 167%;
        color: #000000;
        &::after {
          content: "";
          @apply absolute rounded-full;
          width: 6px;
          height: 6px;
          left: 8px;
          top: 12px;
          transform: translateY(-50%);
          background-color: #000;
          @media(max-width: 560px) {
            left: 8px;
          }
        }
      }
    }
  }
}