.banner {
  &-credit {
    @apply relative overflow-hidden w-full h-full;
    background: #032817;
    isolation: isolate;
    padding-top: 118px;
    @media (max-width: 890px) {
      padding-top: 26px;
    }
    @media (max-width: 886px) {
      height: 545px;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 50% auto auto 50%;

      width: 622px;
      height: 622px;
      border-radius: 50%;
      background: #005e33;
      filter: blur(120.4630584716797px);
      transform: translate(-50%, -50%);

      pointer-events: none;
      z-index: -1;
    }
    > * {
      position: relative;
      z-index: 1;
    }
    &__wrapper {
      @apply relative flex flex-col items-center w-full h-full;
      @media (max-width: 890px) {
        max-width: 600px;
      }
      @media (max-width: 570px) {
        max-width: 450px;
      }
      @media (max-width: 450px) {
        max-width: 400px;
      }
    }
    &__container {
      @apply relative flex flex-col items-center w-full h-full;
      .banner-credit--img-bg1,
      .banner-credit--img-bg2 {
        position: absolute !important;
      }
      .banner-credit--img-bg1 {
        max-width: 213px;
        max-height: 218px;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
      }
      .banner-credit--img-bg2 {
        max-width: 159px;
        max-height: 162px;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        @media (max-width: 890px) {
          display: none;
        }
      }
    }
    &__partners {
      @apply flex items-center justify-center max-w-[512px] w-full;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      margin-bottom: 22px;
      @media (max-width: 890px) {
        margin-bottom: 20px;
      }
      &-partner {
        @apply flex justify-center items-center rounded-[16px];
        max-width: 250px;
        width: 100%;
        height: 92px;
        background: #fff;
        box-shadow: 0px 4.08px 8.15px 0px #0000001a;
        z-index: 1;
        @media (max-width: 890px) {
          width: 147px;
          height: 50px;
        }
      }
      @media (max-width: 890px) {
        &-partner:nth-child(1) {
          > svg {
            width: 105px;
            height: 36px;
          }
        }
        &-partner:nth-child(2) {
          > svg {
            width: 135px;
            height: 23px;
          }
        }
      }
    }
    &__heading {
      @apply flex flex-col;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      margin-bottom: 32px;
      z-index: 1;
      h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 140%;
        color: #edfff7;
        text-align: center;
        @media (max-width: 570px) {
          max-width: 340px;
          align-self: center;
        }
        @media (max-width: 886px) {
          font-size: 40px;
          font-weight: 700;
          line-height: 124%;
        }
      }
      p {
        font-size: 24px;
        font-weight: 400;
        line-height: 152%;
        color: #edfff7;
        text-align: center;
      }
    }
  }
}

.swiper-banner {
  height: 582px;
  @media (max-width: 886px) {
    height: 545px;
  }
  &-slide {
    width: 100% !important;
  }
  &-pagination {
    @apply absolute flex items-center justify-center;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 20;
    .swiper-pagination-bullet {
      display: block;
      width: 30px;
      height: 9px;
      border-radius: 16px;
      background: #ffffff33;
      transition: background 0.3s ease;

      &-active {
        background: #ffffff;
      }
    }
  }
}
